body{
  background-image: linear-gradient(to right, skyblue,pink,skyblue);
}
.line{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: none;
  gap: 20px;
  /* background-color: navajowhite  ; */
}

.name1
{
  display: flex;
  gap: 20px;
  /* background: none; */
  font-size: 30px;
  border-radius: 20px;
  background-image: none;
  
}
.box{
  display: flex;
  flex-direction: column;
  /* background: none; */
  gap: 20px;
  background-image: none;
  
}
#name{
  border: 2px solid black;
  background-image: none;
  border-radius: 20px;
}
.head
{
  background-image: none;
}
.btn
{
  border: 2px solid black;
  padding: 20px;
  background-image: none;
  font-size: 30px;
  font-weight: bolder;
  border-radius: 40px;
  background-color: antiquewhite;
}
.head1
{
  background-image: none;
}  
.add
{
  width: 1000px;
  max-height: 1000vh;
  border: 2px solid black;
  border-radius: 20px;
  background-image: none;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  /* transform: translate(-50% , -50%); */
  /* position: absolute; */
  /* top: 70%; */
  /* left: 50%; */
}
.add1{
  width: 500px;
  height: 60px;
  background-color: darkkhaki;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  /* background-color: red; */
  /* border: 2px solid black; */
  border-radius: 5px;
  /* background-image: none; */
}                                                      


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
